footer {
}
//====================================================================================================
.footer {
    background-color: $bgColor;
    // .footer__content

    &__content {
        padding: 100px 0px;
        @media (max-width: $md3+px) {
            padding: 50px 15px 50px 15px;
        }
    }

    // .footer__row

    &__row {
        display: flex;
        justify-content: space-evenly;
        @media (max-width: $md3+px) {
            display: block;
            text-align: center;
        }
    }

    // .footer__column

    &__column {
        flex: 0 1 25%;
    }

    // .footer__item

    &__item {
    }

    // .footer__logotitle

    &__logotitle {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin: 0px 0px 45px 0px;
        @media (max-width: $md3+px) {
            margin: 0px 0px 35px 0px;
        }
    }

    // .footer__policie

    &__policie {
        display: inline-block;
        font-size: 16px;
        line-height: 130.4%;
        margin: 0px 0px 35px 0px;
        color: $mainColor;
        @media (max-width: $md3+px) {
            margin: 0px 0px 18px 0px;
        }
    }

    // .footer__personal

    &__personal {
        font-size: 16px;
        line-height: 20px;
        color: $mainColor;
        @media (max-width: $md3+px) {
            display: block;
            margin: 0px 0px 45px 0px;
        }
    }

    // .footer__menu

    &__menu {
        padding: 0px 0px 0px 50px;
        @media (max-width: $md3+px) {
            padding: 0;
            margin: 0px 0px 45px 0px;
        }
    }

    // .footer__social

    &__social {
        @media (max-width: $md3+px) {
            display: flex;
            justify-content: center;
        }
    }

    // .footer__email

    &__email {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        display: inline-block;
        border-bottom: 1px solid $mainColor;
        position: relative;
        a {
            color: $mainColor;
        }

        @media (max-width: $md3+px) {
            margin: 0px 0px 45px 0px;
        }
    }

    // .footer__button

    &__button {
        margin: 0px 0px 5px 0px;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .footer__button-mobile

    &__button-mobile {
        @media (min-width: $md3+px) {
            display: none;
        }
    }

    // .footer__phone

    &__phone {
        font-weight: 500;
        font-size: 20px;
        display: inline-block;
        border-bottom: 1px solid $mainColor;
        @media (max-width: $md3+px) {
            display: none;
        }
    }
}

.footer-menu {
    // .footer-menu__list

    &__list {
    }

    // .footer-menu__item

    &__item {
        margin: 0px 0px 15px 0px;
        &:last-child {
            margin: 0;
        }
    }

    // .footer-menu__link

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $mainColor;
    }
}
.footer-social {
    margin: 0px 0px 20px 0px;
    // .footer-social__item

    &__item {
        margin: 0px 31px 0px 0px;
        &:last-child {
            margin: 0;
        }
    }
}
.item {
    // .item__body

    &__body {
        text-align: center;
        @media (min-width: $md3+px) {
            //width: 250px;
        }
    }
}

//====================================================================================================
