@use "sass:math";
//====================================================================================================
.main {
    background: $bgColor url("../img/bg02.png") 85% bottom / contain no-repeat;
    margin-top: -2px;
    @media (max-width: $md1+px) {
        background: $bgColor url("../img/bg02.png") 95% bottom / contain no-repeat;
    }
    @media (max-width: $md2+px) {
        // background: $bgColor url("../img/bg02.png") 135% bottom / contain no-repeat;
        background: $bgColor url("../img/bg01.png") 70% center / contain no-repeat;
    }
    @media (max-width: $md4+px) {
        // background: $bgColor url("../img/bg02.png") 135% bottom / contain no-repeat;
        background: $bgColor url("../img/bg01.png") 50% center / 80% auto no-repeat;
    }
    // .main__content

    &__content {
        padding: 0px 10px 0px 10px;
    }

    // .main__row

    &__row {
        display: flex;
        padding: 50px 0px 80px 0px;
        @media (max-width: $md1+px) {
            padding: 30px 0px 60px 0px;
        }
        @media (max-width: $md4+px) {
            display: block;
            padding: 20px 0px 40px 0px;
        }
    }

    // .main__column

    &__column {
        flex: 0 1 50%;
        @media (max-width: $md4+px) {
            text-align: center;
        }
    }

    // .main__title

    &__title {
        font-weight: 700;
        font-size: 70px;
        margin: 0px 0px 25px 0px;
        @media (max-width: $md1+px) {
            font-size: 60px;
            margin: 0px 0px 15px 0px;
        }
        @media (max-width: $md2+px) {
            font-size: 48px;
        }
        @media (max-width: $md3+px) {
            font-size: 28px;
        }
    }

    // .main__subtitle

    &__subtitle {
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        margin: 0px 0px 50px 0px;
        @media (max-width: $md1+px) {
            font-size: 24px;
            margin: 0px 0px 30px 0px;
        }
        @media (max-width: $md2+px) {
            font-size: 20px;
            margin: 0px 0px 25px 0px;
        }
        @media (max-width: $md3+px) {
            font-size: 18px;
            margin: 0px 0px 335px 0px;
        }
    }

    // .main__btn

    &__btn {
    }
    // .main__btn-border

    &__btn-border {
        border: 2px solid #f2f2f2;
        height: 60px;
        width: 304px;
        margin: -50px 0px 65px 10px;
        @media (max-width: $md1+px) {
            height: 50px;
            width: 265px;
            margin: -40px 0px 45px 10px;
        }
        @media (max-width: $md2+px) {
            height: 40px;
            width: 205px;
            margin: -30px 0px 45px 10px;
        }
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .main__features

    &__features {
        display: flex;
        margin: 0px -12.5px;
    }

    // .main__call-btn

    // .main__callbtn

    &__callbtn {
        min-height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__call-btn {
    }
}

.features {
    // .features__items
    display: flex;
    @media (max-width: $md2+px) {
        flex-wrap: wrap;
    }
    @media (max-width: $md3+px) {
        display: none;
    }

    &__items {
        display: flex;
        align-items: center;
        flex: 1 1 333.33333%;
        padding: 0px 12.5px;
        @media (max-width: $md2+px) {
            flex-wrap: wrap;
            margin: 0px 0px 15px 0px;
        }
    }
}
.item {
    // .item__icon

    &__icon {
        margin: 0px 10px 0px 0px;
        img {
            @media (max-width: $md2+px) {
                height: 40px;
                width: 50px;
            }
        }
    }

    // .item__text

    &__text {
        font-size: 16px;
        line-height: math.div(21, 16) * 100%;
        @media (max-width: $md1+px) {
            font-size: 14px;
        }
    }
}

//====================================================================================================
.stage {
    // .stage__content

    &__content {
        padding: 95px 100px 0px 100px;
        @media (max-width: $md3+px) {
            padding: 40px 10px 0;
        }
    }

    // .stage__title

    &__title {
        margin: 0px 0px 60px 0px;
        @media (max-width: $md3+px) {
            margin: 0px 0px 40px 0px;
        }
    }

    // .stage__row

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
        @media (max-width: $md3+px) {
            //padding: 40px 10px;
        }
    }

    // .stage__column

    &__column {
        @media (min-width: $md2+px) {
            flex: 0 1 50%;
        }
    }

    // .stage__item

    &__item {
        flex: 0 1 50%;
        display: flex;
        margin: 0px 0px 50px 0px;
        @media (min-width: $md3+px) {
            &:nth-child(odd) {
                margin: 0px 50px 50px 0px;
            }
        }

        @media (max-width: $md3+px) {
            align-items: center;
            margin: 0px 10px 25px 10px;
        }
    }

    // .stage__item-num

    &__item-num {
        font-weight: 300;
        font-size: 50px;
        text-shadow: 2px 0px 0px rgba(254, 209, 0, 1);
        margin: 0px 40px 0px 0px;
        @media (max-width: $md3+px) {
            margin: 0px 15px 0px 0px;
        }
    }

    // .stage__item-body

    &__item-body {
    }

    // .stage__item-title

    &__item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        margin: 0px 0px 15px 0px;
        @media (max-width: $md3+px) {
            font-size: 16px;
            line-height: 21px;
            margin: 0px;
        }
    }

    // .stage__item-text

    &__item-text {
        font-size: 16px;
        line-height: 21px;

        @media (max-width: $md3+px) {
            display: none;
        }
    }
}

//====================================================================================================
.price {
    background: #ffffff;
    padding: 65px 0px;
    @media (max-width: $md3+px) {
        //margin: 50px 0px;
    }
    // .price__content

    &__content {
    }

    // .price__title

    &__title {
        margin: 0px 0px 15px 0px;
        @media (max-width: $md3+px) {
            font-weight: 600;
            font-size: 20px;
            margin: 0px 0px 40px 0px;
        }
    }

    // .price__subtitle

    &__subtitle {
        margin: 0px 0px 60px 0px;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .price__row

    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px -12.5px;
        @media (max-width: $md1+px) {
            overflow: auto;
        }
        @media (max-width: $md3+px) {
            display: block;
        }
    }

    // .price__column

    &__column {
        flex: 0 1 33.333%;
        padding: 0px 12.5px;
    }

    // .price__item

    &__item {
        border: 1px solid #ebebeb;
        text-align: center;
        padding: 78px 10px;
        @media (max-width: $md3+px) {
            border: none !important;
            padding: 0px 10px;
        }
    }
}

.price-item {
    // .price-item__title

    &__title {
        font-weight: 600;
        font-size: 24px;
        margin: 0px 0px 65px 0px;
        @media (max-width: $md3+px) {
            font-weight: 500;
            font-size: 18px;
            margin: 0px 0px 24px 0px;
        }
    }

    // .price-item__list

    &__list {
        li {
            font-size: 16px;
            margin: 0px 0px 25px 0px;
            &:last-child {
                margin: 0;
            }
            @media (max-width: $md3+px) {
                margin: 0px 0px 15px 0px;
            }
        }
        margin: 0px 0px 60px 0px;
        @media (max-width: $md3+px) {
            margin: 0px 0px 40px 0px;
        }
    }

    // .price-item__price

    &__price {
        font-weight: 600;
        font-size: 30px;
        margin: 0px 0px 50px 0px;
    }

    // .price-item__btn

    &__btn {
        @media (max-width: $md3+px) {
            margin: 0px 0px 40px 0px;
        }
    }

    // .price-item__all

    &__all {
        @media (min-width: $md3+px) {
            display: none;
        }
        @media (max-width: $md3+px) {
            color: $mainColor;
            font-weight: 500;
            font-size: 16px;
            text-decoration: underline;
        }
    }
}

//====================================================================================================
.avtopark {
    background-color: #fff;
    padding: 35px 0px 40px 0px;
    // .avtopark__content

    &__content {
    }

    // .avtopark__title

    &__title {
        @media (max-width: $md3+px) {
            font-size: 20px;
            margin: 0px 0px 20px 0px;
        }
    }

    // .avtopark__subtitle

    &__subtitle {
        margin: 0px 0px 60px 0px;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .avtopark__list

    &__list {
        display: flex;
        justify-content: center;
        margin: 0px 0px 45px 0px;
        li {
            margin: 0px 20px 0px 0px;
            &:last-child {
                margin: 0;
            }
            @media (max-width: $md3+px) {
                margin: 0px 20px 0px 0px;
            }
        }
    }

    // .avtopark__link

    &__link {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: $mainColor;
        padding: 13px 56px;
        cursor: pointer;
        @media (min-width: $md3+px) {
            border: 1px solid #ebebeb;
            &._active {
                border: 1px solid #fed100;
            }
        }

        @media (max-width: $md3+px) {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            padding: 0;
            &._active {
                border-bottom: 1px solid #fed100 !important;
            }
        }
    }

    // .avtopark__slider

    &-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 0;
        @media (max-width: $md3+px) {
            display: block;
        }
    }

    // .avtopark__slide

    &__slide {
        height: 100%;
        padding: 0px 90px;
    }

    // .avtopark__item-next

    &__item-next {
        &::before {
            font-weight: 700;
            font-size: 18px;
        }
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .avtopark__item-prev

    &__item-prev {
        &::before {
            font-weight: 700;
            font-size: 18px;
        }
        @media (max-width: $md3+px) {
            display: none;
        }
    }
}

.avtopark-slider {
    // .avtopark-slider__wrapper

    &__wrapper {
    }
}
.slider {
    // .slider__item

    &__item {
        display: flex;
        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
    }
}
.slider-item {
    // .slider-item__body

    &__body {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;
        @media (max-width: $md3+px) {
        }
    }

    // .slider-item__title

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin: 0px 0px 35px 0px;
        @media (min-width: $md3+px) {
            span {
                display: none;
            }
        }

        @media (max-width: $md3+px) {
            margin: 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            margin: 0px 0px 30px 0px;
        }
    }

    // .slider-item__list

    &__list {
        font-size: 16px;
        line-height: 21px;
        margin: 0px 0px 35px 0px;
        li {
            background: url("../img/icons/check.svg") 0 2px no-repeat;
            padding: 0px 0px 0px 25px;
            margin: 0px 0px 25px 0px;
            &:last-child {
                margin: 0;
            }
        }
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .slider-item__button

    &__button {
        width: 250px;
    }

    // .slider-item__btn

    &__btn {
        max-width: 100%;
        padding: 15px 80px;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    // .slider-item__image

    &__image {
        width: 320px;
        height: 227px;
        img {
            max-width: 100%;
        }
    }
}

.slider-pagging {
    bottom: 0;
    height: 30px;
}
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: $mainColor;
}

.slider-item__button-mobile {
    // .slider-item__btn-mobile-mobile
    @media (min-width: $md3+px) {
        display: none;
    }
    text-align: center;
    &__btn-mobile {
        max-width: 100%;
        padding: 15px 80px;
    }
}

//====================================================================================================
//====================================================================================================
